* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0 auto;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    background-color: #333333;
    color: #b4aca2;
}

#titulo {
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    background-color: #232323;
    color: #b4aca2;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    margin: 20px;
    height: 50px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.menu li {
    text-align: center;
}

.headerlink {
    color: #6b6464;
}

main {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
}

h1 {
    font-size: 65px;
    color: #7e7d7a;
    font-weight: 300;
}

#justoaugue {
    background-color: #464646;
}

#laranja {
    color: #e6ae58;
    font-weight: bold;
}

.coluna1 {
    padding-left: 50px;
    padding-right: 50px;
    color: #6c7275;
    font-size: 17px;
}

h2 {
    font-size: 35px;
    margin-top: 0px;
    padding-bottom: 20px;
    font-weight: 300;
    font-style: italic;
}

.alinharvertical {
    vertical-align: top;
}

section {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
}

h3 {
    margin-bottom: 30px;
}

h6 {
    font-size: 11px;
}

.tabela2 {
    color: #a5a5ae;
    margin-bottom: 50px;
}

.footer {
    width: 100%;
    margin-top: 30px;
    background-color: #232323;
    color: #7c7c7c;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    border: 1px solid #464646;
    background-color: #232323;
    padding: 5px;
    width: 250px;
}

.searchbutton {
    background-color: #f89909;
    color: white;
    padding: 5px;
    border: transparent;
    width: 80px;
}

div.about_us {
    display: flex;
    justify-content: space-around;
}

.imgpequena {
    margin-left: 40px;
    width: 180px;
    height: 180px;
}

.imgpequenaleft {
    width: 180px;
    height: 180px;
}

.imgpequenasection {
    width: 180px;
    height: 180px;
    margin-right: 20px;
}

.sectionpadding {
    padding-right: 40px;
    vertical-align: top;
    color: #a5a5ae;
}

.sectionpadding_about {
    vertical-align: top;
    color: #a5a5ae;
}

.displayimagem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}