/* * {
  margin: ;
  padding: ;
  box-sizing: ;
} */

/* html, body {
  height: ;
  margin: ;
} */

/* body {
  background-position: ;
  background-repeat: ;
  background-size: ;
  background-attachment: ;
} */



/*  {
  display: ;
  justify-content: ;
  align-items: ;
  min-height: ;
  width: ;
  height: ;
  flex ;
  flex-grow: ;
} */


body {
  background-color: #6b6ac5;
  color: white;
  text-align: center;
}

